<%= form_for(@auttor) do |f| %>
  <% if @auttor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auttor.errors.count, "error") %> prohibited this auttor from being saved:</h2>

      <ul>
      <% @auttor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :authorid %><br>
    <%= f.number_field :authorid %>
  </div>
  <div class="field">
    <%= f.label :authorname %><br>
    <%= f.text_field :authorname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
