<p id="notice"><%= notice %></p>

<p>
  <strong>Authorid:</strong>
  <%= @auttor.authorid %>
</p>

<p>
  <strong>Authorname:</strong>
  <%= @auttor.authorname %>
</p>

<%= link_to 'Edit', edit_auttor_path(@auttor) %> |
<%= link_to 'Back', auttors_path %>
